# Dependências
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ambiente
.env
.env.test
.env.production

# Arquivos temporários
temp/*
!temp/.gitkeep
logs/
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de cobertura de testes
coverage/

# Arquivos de build
dist/
build/

# Outros
.vscode/
.idea/
*.sublime-project
*.sublime-workspace